.project {
  margin-right: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 30px;
  border-radius: 8px;
  font-family: Roboto;
}

.project-image {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.project-name {
  padding-left: 20px;
  font-weight: 500;
  padding-bottom: 20px;
}
